a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: grey;
}

.error {
    color: red;
}

#errorHint {
    color: red;
    display: none;
}

#contacts {
    overflow: auto;
    height: 240px;
    border: 1px solid grey;
    font-size: 16px;
}

.contact {
    margin: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid grey;
}

.chosenContact {
    margin: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid grey;
    color: white;
    background-color: grey;
}

.messageCount {
    color: red;
}

.sendHint {
    width: 340px;
}

#requests {
    overflow: auto;
    height: 290px;
    width: 340px;
}
